<div id="root">
  {% liquid
    # Relative to entrypointsDir
    render 'vite-tag' with 'themeApp.css'
    render 'vite-tag' with 'themeApp.jsx'
  %}
</div>

<script>
  const home = {{ request.path | json }}
</script>

{% schema %}
{
  "name": "playground",
  "templates": ["page", "product", "index"],
  "target": "section",
  "stylesheet": "themeApp-b13f8b1a.css",
  "javascript": "themeApp-f727dbc2.js",
  "settings": []
}
{% endschema %}
